h1{
    font-family:"Lobster",sans-serif;
    font-size: 4em;
    font-weight:bold;
    display: block;
    color: #051c33;
    padding: 0;
    margin: 0;
}

.navContainer{
    margin-top: 9%;
    text-align: center;   
}




